@import "../../styles.scss";

.nav-link {
  color: var(--bs-light) !important;
}

.nav-link.active {
  color: var(--bs-warning) !important;
  background-color: var(--bs-black) !important;
}

.nav-link.disabled {
  color: var(--bs-gray) !important;
}

.form-control:focus,
.form-select:focus {
  --focusColor: var(--bs-warning);
  --focusColorShadow: rgba(255, 216, 100, 0.25);

  border-color: var(--focusColor) !important;
  box-shadow: 0 0 0 0.25rem var(--focusColorShadow) !important;
}

.qrCodeImage {
  --imageSize: 100%;

  @include fixedSquare(var(--imageSize));

  @include breakpoint(sm) {
    --imageSize: 25rem;
  }

  @include breakpoint(md) {
    --imageSize: 27.5rem;
  }

  @include breakpoint(lg) {
    --imageSize: 32.5rem;
  }

  // @include breakpoint(xl) {
  //   --imageSize: 35rem;
  // }

  @include breakpoint(xxl) {
    --imageSize: 35rem;
  }
}
